.search_main {
    background-color: #f8f8f8;
    padding: 2em;
    display: flex;
    margin: 0;
    gap: 2.5em;
    flex-grow: 1;
}

.search_results {
    flex-grow: 1;
    box-sizing: border-box;
}

.sorting-options {
    background-color: #333;
    border-radius: 3px;
    padding: 1em;
    margin-bottom: 1em;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
}

.sorting-options #sorting {
    border: 0;
    border-radius: 3px;
    padding: 0.5em;
    background-color: #f8f8f8;
    font-family: inherit;
    font-weight: inherit;
}

.search_results .empty-search {
    background-color: #333;
    color: #f8f8f8;
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 6px;
    border-top-left-radius: 0;
}

.empty-search h1 {
    margin: 0;
}