footer {
    background-color: #f8f8f8;
    /* color: black; */
    text-align: center;
    padding: 25px;
    font-size: 25px;
    font-weight: bold;
    bottom: 0;
    color: #333;  /* Cor do texto */
}

footer a, footer h1 {
    margin: 0;
    font-size: 1.5rem;
    text-decoration: none;
    color: #333;  /* Cor do texto */
}