.offer-form-data {
    background-color: #333;
    color: #f8f8f8;
    /* background-color: #f8f8f8; */
    display: flex;
    flex-direction: column;
    padding: 2em;
    padding-inline: 3em;
    border-radius: 6px;
    gap: 1.5em;
    width: 100%;
    box-sizing: border-box;
}

.offer-form-data h2 {
    margin: 0;
}

.offer-form-data section {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    gap: inherit;
}

.offer-form-data fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
}

.offer-form-data fieldset label {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    align-items: flex-start;
}

input[type="text"],
input[type="check"] {
    width: 100%;
    box-sizing: border-box;
}

.offer-form-data select {
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: bold;
    font-size: 15px;
    background-color: #f8f8f8;
    border: 0;
    border-radius: 3px;
}

.offer-form-data .usage {
    display: flex;
}

.offer-form-data .form-usage-types {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offer-form-data .form-usage-types label {
    width: fit-content;
}

.offer-form-data .imagePreview {
    background-color: #f8f8f8;
    border-radius: 6px;
    padding: 1em;
    width: 100%;
    height: 25em;
    box-sizing: border-box;
    overflow: hidden; /* Garante que nada vaze */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.offer-form-data .imagePreview img {
    width: 100%;  /* Faz a imagem preencher o contêiner */
    height: 100%;
    object-fit: contain; /* Mantém proporção e evita cortes */
    box-sizing: inherit;
}

.offer-form-data .imagePreview .image-navigation {
    display: flex;
    gap: 1em;
    margin-top: 0.5em;
    width: 100%;
    box-sizing: border-box;
}
  
.offer-form-data .imagePreview .image-navigation button {
    width: 100%;
    background-color: #333;
    border: 0;
    padding: 0.5em;
    border-radius: 3px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
  
.offer-form-data .imagePreview button:hover,
.create-form-submit:hover {
    background-color: #fb8c00;
    cursor: pointer;
}

.create-form-submit {
    width: 100%;
    background-color: #f8f8f8;
    border: 0;
    padding: 0.5em;
    border-radius: 3px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.offer-form-data .repair-desc {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    min-height: 10em;
    font-size: 14px;
}

.offer-form-data .usage .usage-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offer-form-data .usage .usage-categories label {
    width: fit-content;
}