.sellOfferForm {
    background-color: #333;
    color: #f8f8f8;
    /* background-color: #f8f8f8; */
    display: flex;
    flex-direction: column;
    padding: 2em;
    padding-inline: 3em;
    border-radius: 6px;
    gap: 1.5em;
    width: 100%;
    box-sizing: border-box;
}

.sellOfferForm h2 {
    margin: 0;
}

.sellOfferForm section {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    gap: inherit;
}

.sellOfferForm fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
}

.sellOfferForm fieldset label {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    align-items: flex-start;
}

input[type="text"],
input[type="check"] {
    width: 100%;
    box-sizing: border-box;
}

.sellOfferForm select {
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: bold;
    font-size: 15px;
    background-color: #f8f8f8;
    border: 0;
    border-radius: 3px;
}

.sellOfferForm .usage {
    display: flex;
}

.sellOfferForm .form-usage-types {
    display: flex;
    flex-direction: row;
}

.sellOfferForm .imagePreview {
    background-color: #f8f8f8;
    border-radius: 6px;
    padding: 1em;
    width: 100%;
    height: 25em;
    box-sizing: border-box;
    overflow: hidden; /* Garante que nada vaze */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.sellOfferForm .imagePreview img {
    width: 100%;  /* Faz a imagem preencher o contêiner */
    height: 100%;
    object-fit: contain; /* Mantém proporção e evita cortes */
    box-sizing: inherit;
}

.sellOfferForm .imagePreview .image-navigation {
    display: flex;
    gap: 1em;
    margin-top: 0.5em;
    width: 100%;
    box-sizing: border-box;
}
  
.sellOfferForm .imagePreview .image-navigation button {
    width: 100%;
    background-color: #333;
    border: 0;
    padding: 0.5em;
    border-radius: 3px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
  
.sellOfferForm .imagePreview button:hover,
.create-form-submit:hover {
    background-color: #fb8c00;
    cursor: pointer;
}

.create-form-submit {
    width: 100%;
    background-color: #f8f8f8;
    border: 0;
    padding: 0.5em;
    border-radius: 3px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}