.viewOffer_main, .createOffer_main {
    margin: 0;
    color: #333;
    background-color: #f8f8f8;
    display: flex;
    gap: 1em;
    padding: 2em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.viewOffer_main div, .createOffer_main div {
    flex-grow: 1;
    text-align: center;
}

.createOffer_main .offerTypeSelection .buttons {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.createOffer_main .offerTypeSelection .buttons button {
    background-color: #333;
    color: white;
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    padding: 1em;
    border-radius: 3px;
    border: 0;
    flex-grow: 1;
}

.createOffer_main .offerTypeSelection .buttons button:hover {
    background-color: #fb8c00;
    cursor: pointer;
}

.createOffer_main .offer-form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 100%;
    box-sizing: border-box;
}

.createOffer_main .offer-form .go-back {
    display: flex;
    justify-content: flex-start;
}

.createOffer_main .offer-form .go-back button {
    background-color: #333;
    color: white;
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    padding: 1em;
    border-radius: 3px;
    border: 0;
    width: 25%;
}

.createOffer_main .offer-form .go-back button:hover {
    background-color: #fb8c00;
    cursor: pointer;
}

.viewOffer_main .offer-user-display {
    display: flex;
    background-color: #333;
    color: #f8f8f8;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
    overflow: hidden; /* Oculta o conteúdo que ultrapassa a largura */
}

.offer-user-display h2 {
    white-space: nowrap; /* Evita que o texto quebre em várias linhas */
    overflow: hidden; /* Oculta o texto que ultrapassa a largura do contêiner */
    text-overflow: ellipsis; /* Adiciona "..." ao final do texto cortado */
    max-width: 100%; /* Garante que o título não ultrapasse a largura do contêiner */
}